body{
  width:;
  height:;
  margin:; 
}
h1{
    text-align: center;
    color:teal;
}


p{
    color: tomato;
    font-size: 30px;
    text-align: center;
}

.content{
    background:rgb(156, 11, 156);
    width: 50%;
    padding :10px;
    margin: 100px;
}